/* addings for Twitter Bootstrap */
.panel {
	margin: 10px auto;
	padding: 10px;
}

.alert {
	margin-top: 10px;
}

.label {
	margin-left: 5px;
}

.label:first-child {
	margin-left: 0;
}

.pager .pagination {
	width: 100%;
}

.pager .pagination a {
	float: left;
}

.pager li:first-child a {
	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;
}

.pager li:last-child a {
	border-bottom-right-radius: 15px;
	border-top-right-radius: 15px;
}

.portlet-decoration {
	margin-bottom: 10px;
	font-size: 24px;
}

/* addings for jQuery UI styles */
.ui-spinner {
	display: block;
}

/* addings for jQuery Form Styler styles */
.checkbox {
	padding-left: 0;
}

.jq-checkbox {
	width: 20px;
	height: 20px;
}

.jq-checkbox div {
	display: none;
	font-size: smaller;
}

.jq-checkbox.checked div {
	display: block;
	background: white;
	box-shadow: none;
}

/* my styles */
header a:hover {
	text-decoration: none;
}

.note {
	margin-top: 10px;
	font-size: larger;
}

.wait {
	pointer-events: none;
}

.wait * {
	opacity: 0.75;
}

.time {
	margin-left: 15px;
	font-size: smaller;
	color: rgb(128, 128, 128);
}

#tag-cloud-canvas {
	display: block;
	margin: auto;
}

.tag.rate1 {
	font-size: 8px;
}

.tag.rate2 {
	font-size: 14px;
}

.tag.rate3 {
	font-size: 20px;
}

.tag.rate4 {
	font-size: 26px;
}

.tag.rate5 {
	font-size: 32px;
}

footer {
	font-size: smaller;
}
