/* addings for Twitter Bootstrap */
code {
	word-break: break-all;
	word-wrap: break-word;
	white-space: normal;
}

.table-responsive {
	border: none;
	overflow: visible;
}

.page-header {
	margin: 20px 0 0;
	padding-bottom: 10px;
}

.page-header h4 {
	margin: 0;
}

@media (min-width: 768px) {
	.navbar-fixed-top .navbar-collapse {
		padding-right: 0px;
		padding-left: 0px;
	}
}

footer {
	margin-top: 20px;
}

footer hr {
	margin: 0 0 10px;
}

.table {
	margin: 0;
}

.panel {
	margin: 10px auto;
	padding: 10px;
}

form .panel :last-child {
	margin-bottom: 0;
}

.alert {
	margin-top: 10px;
}

legend + .alert {
	margin-top: 0;
}

.items .empty {
	display: block;
	font-size: larger;
}

nav + .row .items .empty,
nav + .list-view .items .empty {
	margin-top: 10px;
}

.label {
	margin-left: 5px;
}

.label:first-child {
	margin-left: 0;
}

.pager {
	margin: 0 0 10px !important;
}

.summary {
	margin: 10px 0 0 !important;
}

.pagination {
	margin: 10px 0 0;
}

.portlet-decoration {
	margin-bottom: 10px;
	font-size: 24px;
}

.breadcrumb {
	display: inline;
}

h2.modal-title {
	font-size: 18px;
}

h5 {
	text-decoration: underline;
}

/* addings for jQuery UI styles */
.ui-autocomplete {
	/* Minimal screen size (QVGA) on mobile (Android)
	* minus height text point input field.
	*/
	max-height: 206px;
	overflow-x: hidden;
}

.ui-autocomplete-loading {
	background: url('/images/processing-icon.gif') right center no-repeat;
}

.ui-spinner {
	display: block;
}

.ui-widget-content {
	border: none;
}

.ui-spinner-input {
	margin: 0;
	padding: 6px 12px;
	background: #fff;
	border: 1px solid #ccc;
	font-size: 14px !important;
	color: #555;
}

.ui-corner-tr {
	border-top-right-radius: 4px;
}

.ui-corner-br {
	border-bottom-right-radius: 4px;
}

/* blog styles */
header a:hover,
header a:focus {
	text-decoration: none;
}

.note {
	font-size: larger;
}

.wait {
	pointer-events: none;
	opacity: 0.75;
}

.button-column {
	font-size: larger;
}

.button-column.wide {
	width: 90px !important;
}

.backup-timestamp-column {
	width: 155px;
}

.time {
	margin-left: 15px;
	font-size: smaller;
	color: rgb(128, 128, 128);
}

iframe.code {
	width: 100%;
	height: 250px;
	border: none;
}

.tag {
	display: block;
	float: left;
	max-width: 100%;
	margin: 0 5px 5px 0;
	overflow: hidden;
	text-overflow: ellipsis;
}

.post-tag {
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.tag.rate1 {
	font-size: 8px;
}

.tag.rate2 {
	font-size: 16px;
}

.tag.rate3 {
	font-size: 24px;
}

.tag.rate4 {
	font-size: 32px;
}

.tag.rate5 {
	font-size: 40px;
}

.editor-switch-button {
	margin-bottom: 3px;
}

#editor {
	width: 100%;
	height: 500px;
	border-radius: 4px;
	font-size: 14px;
}

#preview {
	display: none;
	height: 250px;
	margin: 0;
	overflow: auto;
}

.log {
	font-size: smaller;
	color: rgb(128, 128, 128);
}

footer {
	font-size: smaller;
}

.delete-post-button,
.edit-post-button
{
	margin-left: 5px;
}

.navbar-form {
	margin-right: 0 !important;
	padding-right: 0;
}

.label-success .badge {
	background-color: #428BCA;
}

.label {
	display: inline-block;
	margin-top: 5px;
	margin-left: 0;
	padding: 5px;
}

.icon-column {
	width: 30px;
	text-align: center;
	font-size: larger;
}

.file-upload-error-view {
	display: none;
}

.navbar-btn img {
	display: none;
	height: 18px;
}

.with-top-margin {
	margin: 20px 0;
}

.unimportant-text {
	color: #777;
}

.without-bottom-margin {
	margin-bottom: 0;
}

article :last-child {
	margin-bottom: 0;
}

#backup-list {
	padding-top: 20px;
}

#parameters-form {
	margin-top: 20px;
}

#file-list {
	margin-top: 20px;
	padding-top: 0;
	padding-bottom: 0;
}

.tag-cloud,
.note,
.search-controls,
.post-view,
.post-editor {
	margin-top: 20px;
}
